/* Main Heading */

h1{
    text-align: center;
    color: rgb(237, 56, 116);
}


body{
    background-color: rgb(213, 239, 230);
}







/* game divs */

h3{              
    text-align: center;
    color: rgb(23, 114, 139);
}
.user{    
    display: flex;
    justify-content: center;
}
.IMG{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img:hover{
    height: 100px;
    width: 100px;
    opacity: 60%;
}

.img{
    height: 80px;
    width: 80px;
}

/* for computer */
.computer{
   display: flex;
   justify-content: center;
}
.imgC{
    height: 80px;
    width: 80px;
}














/* Score card */

h2{
    text-align: center;
}


.MScD{
    margin-top: 1px;
    display: flex;
    justify-content: center;
}

.score{
    margin-top: 1px;
    display: flex;
    background-color: #f4f2a1;
    justify-content: center;
}
p{  
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.sco{
    width: 150px;
    border: solid 1px black;
}









