/* Main Heading */

h1{
    text-align: center;
    color: rgb(255, 217, 0);
    text-shadow: 2px 2px black
}


body{
    background-color: rgb(111, 160, 179);
}







.P-MDivU{
    border: 1px solid black;
    background-color: rgb(18, 123, 228);
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.MDivU{
    display: flex;
    align-items: center;
    justify-content: center;
  
}






/* game divs */


#U{
    text-align: center;
    color: rgb(228, 31, 110);
}
.user{    
    display: flex;
    justify-content: center;
}
.IMG{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img:hover{
    height: 100px;
    width: 100px;
    opacity: 40%;
}

.img{
    height: 80px;
    width: 80px;
}








.P-MDiv{
    border: 1px solid black;
    background-color: rgb(170, 22, 186);
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.MDiv{
    display: flex;
    align-items: center;
    justify-content: center;
  
}








/* Score card */

h2{
    text-align: center;
}


.MScD{
    margin-top: 1px;
    display: flex;
    justify-content: center;
}

.score{
    margin-top: 1px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}
p{  
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.scoC{
    width: 150px;
    border-radius: 25px;
    background-color: rgb(234, 124, 124);
}
.scoU{
    width: 150px;
    border-radius: 25px;
    background-color:rgb(119, 209, 119);
}
#CScore{
    font-size: x-large;
}
#UScore{
    font-size: x-large;
}







