body{
    background-color: rgb(246, 245, 245);
}


/* main heading */
h1{
    text-align: center;
    color: #dd299e;
}

.info{
    text-align: center;
    color: rgb(83, 62, 143);
    font-size: 20px;
}

/* main game formating */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{

    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}

.btn{
    width: 75px;
    height: 75px;
    border-radius: 1pc;
    margin: 5px;
    background-color: #93dfd0;
    border: none;
} 

.btnRED{
    font-size: 65px;
    color:#ff0000;
}
.btnBLUE{
    font-size: 65px;
    color: #0911ef; 

}
.infoRED{
     color: #ff0000; 
   
}
.infoBLUE{
    color:  #0008ff;     
}


/* Reset button */
.R-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.R-btn{
    margin-top: 20px;
    border-radius: 1pc;
    height: 50px;
    width: 110px;
    color: #db2f85;
    border: none;
    background-color: #f7dbdb;
    font-size: larger;
}