body{
    background-color: rgb(246, 245, 245);
}


/* main heading */
h1{
    text-align: center;
    color: #f907b1;
    text-shadow: 2PX 1PX black;
    font-size: 45px;
}

.info{
    text-align: center;
    color: rgb(68, 0, 255);
    font-size: 40px;
    background-color: #51d7bc;
    padding-left: 40px;
    padding-right: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px black;
    margin-bottom: 30px;
}
.pOuter{
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main game formating */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.game{

    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}

.btn{
    width: 75px;
    height: 75px;
    border-radius: 1pc;
    margin: 5px;
    background-color: #b7d68b;
    border: 0;
    box-shadow: 1px 1px black;
} 

.btnRED{
    font-size: 65px;
    color:#ff0000;
}
.btnBLUE{
    font-size: 65px;
    color: #0911ef; 

}
.infoRED{
     color: #ff0000; 
   
}
.infoBLUE{
    color:  #0008ff;     
}


/* Reset button */
.R-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.R-btn{
    margin-top: 20px;
    border-radius: 1pc;
    height: 50px;
    width: 110px;
    color: #db2f85;
    border: none;
    background-color: #f7dbdb;
    font-size: larger;
    box-shadow: 1px 1px black;
}